<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/html/materialize/css/materialize.min.css"  media="screen,projection"/>
        <style>
         body {
             display: flex;
             min-height: 100vh;
             flex-direction: column;
         }

         main {
             flex: 1 0 auto;
         }

        </style>
        <script type="text/javascript" src="/html/js/petite-vue.iife.js"></script>
        <script type="module">
         function App() {
             console.log("Main App Component");
             return {
                 mounted() {
                     console.log("main app mounted");
                 },
                 setupRouting() {
                     console.log("routing setup");
                     const onHashChange = () => {
                         var visibility = window.location.hash.replace(/#\/?/, '');
                         if(visibility === '') {
                             this.editingDevice = false;
                         }

                         if(visibility.match(/edit/)) {
                             let chunks = visibility.match(/edit\/(telescope|camera|filterwheel|focuser)\/([0-9]+)/);
                             if(chunks.length > 2) {
                                 let deviceToLoad = {};
                                 deviceToLoad.DeviceType = chunks[1];
                                 deviceToLoad.DeviceNumber = chunks[2];
                                 this.device = deviceToLoad;
                                 this.editingDevice = true;
                             }
                         }
                     }
                     window.addEventListener('hashchange', onHashChange)
                     onHashChange()
                 },
                 Devices: [],
                 device: null,
                 editingDevice: false,
                 fetchData() {
                     fetch("/management/v1/configureddevices")
                         .then((res) => res.json())
                         .then((data) => {
                             this.Devices = data.Value;
                         });
                 },
                 editDevice(device) {
                     this.editingDevice = true;
                     this.device = device;
                     console.log("editing device: ", device);
                 },
                 mounted() {
                     console.log("App mounted");
                 },
                 fetchDeviceDetails(device) {
                     console.debug("fetchDeviceDetails invoked with", device);
                     fetch("/api/v1/" + device.DeviceType + "/" + device.DeviceNumber + "/details")
                         .then((_res) => _res.json())
                         .then((_data) => {
                             device.Details = _data.Value;
                             device.Connected = _data.Value.Connected;
                         });
                 },
                 connect(device) {
                     console.log("connect invoked");
                     let connected_value = "True";
                     if(device.Connected == true)
                         connected_value = "False"
                     fetch("/api/v1/" + device.DeviceType + "/" + device.DeviceNumber + "/connected", {
                         method: 'PUT',
                         headers: {
                             'Content-Type': 'application/json'
                         },
                         body: `Connected=${connected_value}`
                     })
                             .then((_res) => _res.json())
                             .then((_data) => {
                                 console.log("response: ", _data);
                                 this.fetchDeviceDetails(device);
                             });
                 }
             }
         };


         PetiteVue.createApp({App}).mount();
        </script>
    </head>
    <body v-scope="App()" @vue:mounted="setupRouting">
        <header>
            <nav class="blue-grey lighten-1">
                <div class="nav-wrapper" style="padding-left: 40px;">
                    <a href="#" class="brand-logo">Dave's Alpaca Hub</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="">About</a></li>
                        <li><a href="">Documentation</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class=""
                 v-effect="fetchData()"
                 @vue:mounted="mounted">
                <div class="row" id="devicetable">
                    <div class="col s3">
                        <div class="collection with-header">
                            <div class="collection-header" style="">
                                Menu
                            </div>
                            <a class="collection-item" href="#">
                                Devices
                            </a>
                            <a class="collection-item" href="#">
                                Setup
                            </a>
                            <a class="collection-item" href="#">
                                Logs
                            </a>
                        </div>
                    </div>
                    <div class="col s9" id="app_main">
                        <div class="row" id="deviceeditor" v-if="editingDevice" v-effect="fetchDeviceDetails(device)">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Property</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(value, key) in device.Details" :key="key">
                                            <td>{{key}}</td>
                                            <td>
                                                <span>{{value}}   </span>
                                                <span v-if="key == 'Connected'">
                                                    <button @click="connect(device)">{{ value ? 'Disconnect' : 'Connect'}}</button>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><button @click="save()">Save</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>

                        <table id="device_table" v-if="!editingDevice" >
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Number</th>
                                    <th>Unique ID</th>
                                    <th>Name</th>
                                    <th>Connected</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="device in Devices" v-effect="fetchDeviceDetails(device)">
                                    <td>{{device.DeviceType}}</td>
                                    <td>{{device.DeviceNumber}}</td>
                                    <td>{{device.UniqueID}}</td>
                                    <td>{{device.DeviceName}}</td>
                                    <td>{{device.Connected}}</td>
                                    <td>
                                        <a :href="'#/edit/' + device.DeviceType + '/' + device.DeviceNumber" @click="editDevice(device)" class="waves-effect waves-light btn">Setup</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer blue-grey">
            <div class="row">
                <div class="col s3">&#169; 2024 Copyright Dave Raphael</div>
                <div class="col right"><a class="grey-text text-lighten-4 right" href="https://github.com/ceterumnet/AlpacaHub">Github</a></div>
            </div>
        </footer>
        <script type="text/javascript" src="/html/materialize/js/materialize.min.js"></script>
    </body>
</html>
